.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

INPUT#text_response_red {
	height:30px;
	width:40px;
}

INPUT#text_response_green {
	height:30px;
	width:40px;
}

INPUT#text_response_purple {
	height:30px;
	width:40px;
}

INPUT#text_response_blue {
	height:30px;
	width:40px;
}

.button_input {
    /*size: 4;*/
  display: block;
  margin: 0;
  width: 50px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.err {
color: red;
font-size: 18px;
}

.err2 {
color: red
}

.err3 {
color: red
}

html {overflow-y:scroll;}
.
.image-div {
background-image: url("../images/bottomNew.png");
width:800px;
height: 520px;
background-size: 800px 520px;
position: relative;
}

.absolute-div-red {
position: absolute;
left: 9%;
bottom: 20%;
}

.absolute-div-green {
position: absolute;
left: 38%;
bottom: 4%;
}

.absolute-div-purple {
position: absolute;
right: 12%;
bottom: 7%;
}

.absolute-div-blue {
position: absolute;
right: 7%;
bottom: 37%;
}

div#single_trial
{
	overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-moz-scrollbar {
	-moz-appearance: none;
    width: 7px;	
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-moz-scrollbar-thumb {
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

div#color_check
{
	overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-moz-scrollbar {
	-moz-appearance: none;
    width: 7px;	
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-moz-scrollbar-thumb {
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* Single Trial Slide CSS */

/*.toy-div {
    
}*/

#redbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#toy-div-col {
    width: 400px;
    height: 250px;
    /*height: ;*/
}
#toy-div-col1 {
    width: 400px;
    /*height: ;*/
}

#toy-div-col2 {
    width: 400px;
}

.toy-div-img {
    width: 100%;
}
.toy-div-btn-panel {
    height: 100px;
}

.teach-btn {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    /*display:inline-block;*/
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:16px 31px;
    text-decoration:none;
    /*text-shadow:0px 1px 0px #2f6627;*/
}
.teach-btn:hover {
    background-color:#5cbf2a;
}
#response_trial {
    margin: auto auto;
    margin-top: 0px;
    overflow: scroll;
    width: 800px;
    height: 600px;
}

.prompt_text {
    font-size: 18px;
}
/*.label { display: inline-block; width: 140px; text-align: right; }​*/
/*.teach-btn:active {
    position:relative;
    top:1px;
}*/